.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.justifyC-space-between {
  justify-content: space-between;
}
.justifyC-flex-end {
  justify-content: flex-end;
}
.alignItems-flex-end {
  align-items: flex-end;
}
.alignItems-center {
  align-items: center;
}
.alignSelf-flex-end {
  align-self: flex-end;
}